# Celo RPC
NEXT_PUBLIC_CELO_RPC=https://forno.celo.org

# Contract Addresses (Mainnet)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xy049bw0a4pxn8p2p

# WalletConnect
NEXT_PUBLIC_WC_PROJECT_ID=your_project_id

# Last updated: 2026-07-25T09:09:19.721Z